---
layout: archive
title: ""
permalink: /teaching/
author_profile: true
---

<!-- {% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %} -->

<h1>Teaching</h1>

<ul>
  <li>
    <b>I&C SCI 46 - Data Structure Implementation and Analysis</b> <br>
    <i>Undergraduate Teaching Assistant - Prof. Michael Shindler - Fall 2024 </i>
    <br>
  </li>

  <li>
    <b>CS 161 - Design and Analysis of Algorithms</b> <br>
    <i>Undergraduate Teaching Assistant - Prof. Michael Shindler - Winter 2024 </i>
    <br>
  </li>

  <li>
    <b>I&C SCI 46 - Data Structure Implementation and Analysis</b> <br>
    <i>Undergraduate Teaching Assistant - Prof. Michael Shindler - Winter 2024 </i>
    <br>
  </li>

  <li>
    <b>I&C SCI 46 - Data Structure Implementation and Analysis</b> <br>
    <i>Undergraduate Teaching Assistant - Prof. Michael Shindler - Fall 2023 </i>
    <br>
  </li>

  <li>
    <b>I&C SCI 46 - Data Structure Implementation and Analysis</b> <br>
    <i>Learning Assistant - Prof. Michael Shindler - Winter 2023 </i>
    <br>
  </li>

  <li>
    <b>I&C SCI 45C - Programming in C/C++ as a Second Language</b> <br>
    <i>Tutor - Prof. Mustafa Ibrahim - Fall 2022 </i>
    <br>
  </li>

  <li>
    <b>I&C SCI 31 - Introduction to Programming</b> <br> 
    <i>Tutor - Prof. Shannon Alfaro - Spring 2022</i>
    <br>
  </li>
</ul>

<h1>Grading</h1>
<ul>
  <li>
    <b>CS 161 - Design and Analysis of Algorithms</b> <br>
    <i>Reader - Prof. Michael Dillencourt - Winter 2025 </i>
    <br>
  </li>

  <li>
    <b>CS 161 - Design and Analysis of Algorithms</b> <br>
    <i>Reader - Prof. Michael Dillencourt - Fall 2024 </i>
    <br>
  </li> 

  <li>
    <b>CS 161 - Design and Analysis of Algorithms</b> <br>
    <i>Reader - Prof. Ioannis Panageas - Spring 2024 </i>
    <br>
  </li> 
</ul>

<h1>Mentoring</h1>
<ul>
  <li>
    <b>ICS Summer Academy Course C: Artificial Intelligence & Machine Learning</b> <br>
    <i>Program Assistant - Prof. Michael Shindler - Summer 2024 </i>
    <br>
  </li>

  <li>
    <b>ICS Summer Academy Course B: Cryptography & Security</b> <br>
    <i>Program Assistant - Prof. Michael Shindler - Summer 2024 </i>
    <br>
  </li>
</ul>